<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="helpdesk-root" title="Gestion des réclamations" order="1" if="__config__.app.isApp('helpdesk')"
		icon="fa-exclamation-triangle" icon-background="#ff1100"/>
	
	<!--<menuitem hidden="false" title="Réclamation en cours" name="helpdesk-ticket-current" action="helpdesk.ticket.current" order="1" parent="helpdesk-root"/>
	<action-view name="helpdesk.ticket.current" title="Réclamation" model="com.axelor.apps.helpdesk.db.Ticket">
		<view type="grid" name="ticket-grid"/>
		<view type="form" name="ticket-form"/>
		<view type="kanban" name="ticket-kanban"/>
		<view type="calendar" name="ticket-calendar"/>
		<view-param name="search-filters" value="ticket-filters"/>
		<domain>self.statusSelect in (0,1)</domain>
		<context name="_user" expr="eval: __user__"/>
	</action-view>-->
	
	
	<!--<menuitem hidden="false" title="Mes réclamations" name="helpdesk-my-ticket-all" action="helpdesk.my.ticket.all" order="3" parent="helpdesk-root"/>
	<action-view name="helpdesk.my.ticket.all" title="Mes réclamations" model="com.axelor.apps.helpdesk.db.Ticket">
		<view type="grid" name="ticket-grid"/>
		<view type="form" name="ticket-form"/>
		<view type="kanban" name="ticket-kanban"/>
		<view type="calendar" name="ticket-calendar"/>
		<view-param name="search-filters" value="ticket-filters"/>
		<domain>self.assignedToUser = :_user</domain>
		<context name="_user" expr="eval: __user__"/>
	</action-view>-->


	<!--<menuitem hidden="false" title="Toutes les réclamations" name="helpdesk-ticket-all" action="helpdesk.ticket.all" order="2" parent="helpdesk-root"/>
	<action-view name="helpdesk.ticket.all" title="Toutes les réclamations" model="com.axelor.apps.helpdesk.db.Ticket">
		<view type="grid" name="ticket-grid"/>
		<view type="kanban" name="ticket-kanban"/>
		<view type="form" name="ticket-form"/>
		<view type="calendar" name="ticket-calendar"/>
		<view-param name="search-filters" value="ticket-filters"/>
		<context name="_user" expr="eval: __user__"/>
	</action-view>-->
	
	<!--<menuitem hidden="true" title="Tableau de bord" name="helpdesk-reporting" order="100" parent="helpdesk-root" icon="fa-bar-chart"/>

	<menuitem title="Réclamations" name="helpdesk-report-ticket" action="helpdesk.report.ticket" parent="helpdesk-reporting"/>
	<action-view name="helpdesk.report.ticket" title="Réclamations">
		<view type="dashboard" name="helpdesk.ticket.dashboard"/>
		<context name="_user_id" expr="eval:__user__.id" />
		<context name="_language" expr="eval: __user__.getLanguage()"/>
		<context name="_myActiveTeam" expr="eval:__user__.activeTeam != null ? __user__.activeTeam.id : 0"/>
	</action-view>-->
	
	<menuitem hidden="false" title="SLA" name="helpdesk-report-sla" action="helpdesk.report.sla" parent="helpdesk-reporting" if="__config__.app.getApp('helpdesk').getIsSla()"/>
	<action-view name="helpdesk.report.sla" title="SLA">
	  <view name="helpdesk.sla.dashboard" type="dashboard"/>
	  <context name="_language" expr="eval: __user__.getLanguage()"/>
	  <context name="_user_id" expr="eval:__user__.id"/>
	</action-view>

	<menuitem name="reclamation-new"  title="Nouvelle Reclamation" parent="helpdesk-root" order="4"  action="reclamation.new" />
	<action-view name="reclamation.new" title="Nouvelle Réclamation" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="tw_reclamation_grid"/>
		<view type="form" name="tw_reclamation_form"/>
		<domain>self.statusSelect_new in (0,1) AND self.typeReclamation not in (1,2) </domain>
	</action-view>

	<menuitem name="reclamation-resolue"  title="Reclamation Resolue" parent="helpdesk-root" order="5"  action="reclamation.resolue" />
	<action-view name="reclamation.resolue" title="Reclamation Resolue" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="tw_reclamationResolue_grid"/>
		<view type="form" name="tw_reclamationResolue_form"/>
		<domain>self.statusSelect_new=2 OR (self.typeReclamation=2 AND self.statusSelect_new=1) </domain>
	</action-view>

	<menuitem name="reclamation-directeur"  title="Réclamations à affecter" parent="helpdesk-root" order="6" action="reclamation.directeur" />
	<action-view name="reclamation.directeur" title="Réclamations à affecter" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="directeur_reclamation_grid"/>
		<view type="form" name="directeur_reclamation_form"/>
		<view-param name="forceEdit" value="true"/>
		<domain>self.statusSelect_new=1 AND self.typeReclamation not in (1,2) </domain>
	</action-view>

	<menuitem name="reclamation-fermer"  title="Reclamations Fermées" parent="helpdesk-root" order="99" action="reclamation.fermer" />
	<action-view name="reclamation.fermer" title="Reclamations Fermées" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="reclamation_fermer_grid"/>
		<view type="form" name="reclamation_fermer_form"/>
		<view-param name="forceEdit" value="true"/>
		<domain>self.statusSelect_new=3</domain>
	</action-view>

	<menuitem name="reclamation-nonResolue"  title="Reclamations Non justifiée" parent="helpdesk-root" order="7" action="reclamation.nonResolue" />
	<action-view name="reclamation.nonResolue" title="Reclamations Non justifiée" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="reclamation_fermer_grid"/>
		<view type="form" name="reclamation_fermer_form"/>
		<view-param name="forceEdit" value="true"/>
		<domain>self.typeReclamation=2 AND self.statusSelect_new=1</domain>
	</action-view>

	<menuitem name="responsable-reclamation"  title="Traitement Réclamation" order="8" parent="helpdesk-root"  action="reclamation.responsable" />
	<action-view name="reclamation.responsable" title="Traitement Réclamation" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="responsable_reclamation_grid"/>
		<view type="form" name="responsable_reclamation_form"/>
		<view-param name="forceEdit" value="true"/>
		<domain>self.actionReclamation.responsable = :_user</domain>
		<context name="_user" expr="eval: __user__"/>
	</action-view>

    <menuitem name="reclamation_resolu_directeur"  title="Les réclamations resolus" order="9" parent="helpdesk-root"  action="reclamation.resolu_directeur" />
	<action-view name="reclamation.resolu_directeur" title="Réclamation resolu" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="reclamation_resolu_directeur_grid"/>
		<view type="form" name="reclamation_resolu_directeur_form"/>
		<domain>self.statusSelect_new=2</domain>
		
	</action-view>
	
	<menuitem name="reclamation-affectee-directeur"  title="Réclamations affectées" parent="helpdesk-root" order="10" action="reclamation.affectee-directeur" />
	<action-view name="reclamation.affectee-directeur" title="Réclamations affectées" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="reclamation-affectee-directeur_grid"/>
		<view type="form" name="reclamation-affectee-directeur_form"/>
		<view-param name="forceEdit" value="true"/>
		<domain>self.typeReclamation in (1)</domain>
	</action-view>

	<menuitem name="reclamation-no-reception"  title="Non Recevable" parent="helpdesk-root" order="11" action="reclamation.no.reception" />
	<action-view name="reclamation.no.reception" title="Non Recevable" model="com.axelor.apps.helpdesk.db.Reclamation">
		<view type="grid" name="reclamation_no_reception_grid"/>
		<view type="form" name="reclamation_no_reception_form"/>
		<domain>self.recevable = false </domain>
	</action-view>

</object-views>
