<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">


	<menuitem name="sc-root-sale" title="Trésorerie" order="-106"  if="__config__.app.isApp('sale')"
		icon="fa-line-chart" icon-background="#e0a83c" hidden="true"/>

	<menuitem name="sc-root-sale-tresorerie" parent="sc-root-sale" order="5"
			  title="Gestion de trésorerie" action="sc.root.sale.tresorerie" />

	<action-view name="sc.root.sale.tresorerie" title="Situation de trésorerie"
				 model="com.axelor.apps.configuration.db.HistoriqueCompte" >
		<view type="form" name="tresorerie-form" />
	</action-view>

</object-views>
