<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

    <menuitem name="paie-root" title="Gestion de paie" order="-108" icon="fa-user" icon-background="#2fa042"/>

    <menuitem name="employee-paie-all" parent="paie-root" title="Liste des personnels" action="employee.paie.all"
              order="1"/>
    <action-view name="employee.paie.all" title="Liste des Personnels" model="com.axelor.apps.hr.db.Employee">
        <view type="cards" name="employee-paie-card"/>
        <view type="grid" name="employee-paie-grid"/>
        <view type="form" name="employee-paie-form"/>
        <view-param name="search-filters" value="employee-filters"/>
    </action-view>

    <!--<menuitem order="2" title="Etat d'engagement" name="etat.engagement" parent="paie-root"
              action="action.etat.engagement"/>
    <action-view name="action.etat.engagement" model="com.axelor.apps.hr.db.Employee" title="Etat d'engagement">
        <view name="etat_engagement_form" type="form"/>
        <view-param name="forceEdit" value="true"/>
        <view-param name="show-toolbar" value="false"/>
    </action-view>


    <menuitem order="3" title="Gestion des rappels" name="etat.nominatif" parent="paie-root"
              action="action.etat.nomination"/>
    <action-view name="action.etat.nomination" model="com.axelor.apps.hr.db.Employee" title="Etat nominatif region">
        <view name="etat_salaire_form" type="form"/>
        <view-param name="forceEdit" value="true"/>
        <view-param name="show-toolbar" value="false"/>
    </action-view>-->

    <menuitem order="4" title="Etat des salaires" name="etat.salaire" parent="paie-root" action="action.etat.salaire"/>
    <action-view name="action.etat.salaire" model="com.axelor.apps.hr.db.EtatSalaire" title="Etat salaire">
        <view name="etat_salaire_c" type="form"/>
        <view-param name="forceEdit" value="false"/>
        <view-param name="show-toolbar" value="false"/>
        <view-param name="show-confirm" value="false"/>
        <view-param name="popup-save" value="false"/>
    </action-view>

    <menuitem order="5" name="etatSalaire_paie" parent="paie-root" title="E.S.I.P.P" action="etatSalaire_rh" />
    <action-view name="etatSalaire_paie" model="com.axelor.apps.hr.db.EtatSalaire" title="ETAT DES SALAIRES">
        <view type="form" name="etatSalaire-form"/>
    </action-view>

    <menuitem order="6" title="Orders de paiement" name="orderPaiementRH" parent="paie-root"
              action="action.orderPaiementRH"/>
    <action-view name="action.orderPaiementRH" model="com.axelor.apps.purchase.db.OrderPaymentCommande"
                 title="Ordre paiment">
        <view type="grid" name="ordrePayementRH_grid"/>
        <view type="form" name="ordrePayementRH_form"/>
        <view-param name="forceEdit" value="true"/>
    </action-view>

    <menuitem order="7" title="Orders de virement" name="orderVirementRH" parent="paie-root" action="com.ov"/>
    <action-view name="com.ov" title="Ordre de virement" model="com.axelor.apps.purchase.db.OrdrevirementCommande">
        <view type="grid" name="ordreVirementRH_grid"/>
        <view type="form" name="ordreVirementRH_form"/>
        <view-param name="forceEdit" value="true"/>
    </action-view>

    <menuitem order="8" title="Declaration de IR" name="declaration_IR" parent="paie-root" action="declarationIR"/>
    <action-view name="declarationIR" title="Declaration de IR" model="com.axelor.apps.hr.db.EtatSalaire">
        <view name="declaration_ir_form" type="form"/>
        <view-param name="forceEdit" value="false"/>
        <view-param name="show-toolbar" value="false"/>
        <view-param name="show-confirm" value="false"/>
        <view-param name="popup-save" value="false"/>
    </action-view>



    <menuitem title="Gestion des missions" name="mission.all" parent="paie-gestion-salaire" icon="fa-address-card-o"
              icon-background="#ff676c" order="2"/>

    <menuitem name="employee-missions-all" parent="mission.all" title="Gestion des missions"
              action="employee.missions.all" order="1"/>
    <action-view name="employee.missions.all" title="Gestion des missions"
                 model="com.axelor.apps.hr.db.EmployeeMissions">
        <view type="grid" name="employee-missions-grid"/>
        <view type="form" name="employee-missions-form"/>
    </action-view>

    <menuitem order="2" title="Etat des sommes dues" name="employee-mission-etat-somme" parent="mission.all"
              action="employee.mission.etat.somme"/>
    <action-view name="employee.mission.etat.somme" title="Etat des sommes dues"
                 model="com.axelor.apps.hr.db.EmployeeEtatSomme">
        <view type="grid" name="etat-somme-grid"/>
        <view type="form" name="etat-somme-form"/>
    </action-view>

</object-views>

